.autocomplete-container {
  position: relative;
  width: 300px;
}

input {
  width: 100%;
  padding: 0.625rem;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid var(--border-color);
  font-size: 1rem;
}

.suggestions-list {
  position: absolute;
  left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  font-size: 1rem;
  z-index: 999;
  border: 1px solid var(--border-color);
}

.suggestions-list li {
  padding: 0.625rem;
  cursor: pointer;
  width: 300px;
}

.suggestions-list li:hover {
  background-color: var(--light-gray);
}
